body {
    font-family: "aileron", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.separator {
    border-top: 0.5px solid #000000;
    width: 100px;
}

.separator-large {
    width: 200px;
}

.text-background:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 78.12%);
}

.full-width {
    width: 100%;
}

.content-wyswyg h1 {
    font-size: 4.5rem;
}
.content-wyswyg h2 {
    font-size: 3.75rem;
}
.content-wyswyg h3 {
    font-size: 3rem;
}
.content-wyswyg h4 {
    font-size: 2.25rem;
}
.content-wyswyg h5 {
    font-size: 1.875rem;
}
.content-wyswyg h6 {
    font-size: 1.5rem;
}
